<a href="https://colab.research.google.com/github/Swara005/MINOR-/blob/main/Likedin_(finalllll).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset= "/content/LinkedIn_Dataset (4).pcl"

In [ ]:
df = pd.read_pickle(dataset)

In [ ]:
df.head()

,Intro,Full Name,Workplace,Location,Connections,Photo,Followers,About,Experiences,Number of Experiences,...,Number of Scores,Languages,Number of Languages,Organizations,Number of Organizations,Interests,Number of Interests,Activities,Number of Activities,Label
0,"{'Full Name': 'chenxia (polly) Pei', 'Workplac...",chenxia (polly) Pei,Jiangsu Junyao mainly offer services to cement...,"Wuxi, Jiangsu, China",500,No,717,Our GMH brick has the proprietary intellectual...,"{'0': {'Role': 'Sales', 'Workplace': 'Jiangsu ...",2,...,0,{},0,{},0,"{'0': {'Interest': 'Trina Solar', 'ID': '69648...",4,{'chenxia-pei-80177594': {'Full Name': 'chenxi...,1,1
1,"{'Full Name': 'NEHA CHANDOK', 'Workplace': 'So...",NEHA CHANDOK,Software Analyst,"Noida, Uttar Pradesh, India",500,No,1340,,"{'0': {'Role': 'Software Analyst', 'Workplace'...",1,...,0,"{'Language 0': 'Bangla', 'Language 1': 'Englis...",3,{},0,"{'0': {'Interest': 'Mohamed El-Erian', 'ID': '...",8,{},0,1
2,"{'Full Name': 'Mounika Mungamuri', 'Workplace'...",Mounika Mungamuri,Senior Consultant at Infosys,"Hyderabad, Telangana, India",7,Yes,7,,"{'0': {'Role': 'Senior Consultant', 'Workplace...",2,...,0,{},0,{},0,{},0,{},0,1
3,"{'Full Name': 'Katarina Djuric', 'Workplace': ...",Katarina Djuric,--,"Belgrade, Serbia",0,Yes,0,,"{'0': {'Role': 'Instructor', 'Workplace': 'GE'...",1,...,0,{},0,{},0,"{'0': {'Interest': 'GE', 'ID': '1015', 'Catego...",1,{},0,1
4,"{'Full Name': 'Rachel Lally', 'Workplace': '--...",Rachel Lally,--,"Dublin, County Dublin, Ireland",61,Yes,61,tictok is is the futer,"{'0': {'Role': 'Bartender', 'Workplace': 'O'Su...",1,...,1,{},0,{},0,"{'0': {'Interest': 'Richard Branson', 'ID': 'r...",3,"{'garyltravis': {'Full Name': 'Gary Travis', '...",6,1

In [ ]:
df.shape

(3600, 39)

In [ ]:
df.describe()

             Label
count  3600.000000
mean      3.666667
std       4.854081
min       0.000000
25%       0.000000
50%       0.500000
75%      10.000000
max      11.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Intro                      3600 non-null   object
 1   Full Name                  2471 non-null   object
 2   Workplace                  2471 non-null   object
 3   Location                   2471 non-null   object
 4   Connections                3600 non-null   object
 5   Photo                      3600 non-null   object
 6   Followers                  3600 non-null   object
 7   About                      3600 non-null   object
 8   Experiences                3600 non-null   object
 9   Number of Experiences      3600 non-null   object
 10  Educations                 3600 non-null   object
 11  Number of Educations       3600 non-null   object
 12  Licenses                   3600 non-null   object
 13  Number of Licenses         3600 non-null   object
 14  Volunteering               3600 non-null   object
 15  Number of Volunteering     3600 non-null   object
 16  Skills                     3600 non-null   object
 17  Number of Skills           3600 non-null   object
 18  Recommendations            3600 non-null   object
 19  Number of Recommendations  3600 non-null   object
 20  Projects                   3600 non-null   object
 21  Number of Projects         3600 non-null   object
 22  Publications               3600 non-null   object
 23  Number of Publications     3600 non-null   object
 24  Courses                    3600 non-null   object
 25  Number of Courses          3600 non-null   object
 26  Honors                     3600 non-null   object
 27  Number of Honors           3600 non-null   object
 28  Scores                     3600 non-null   object
 29  Number of Scores           3600 non-null   object
 30  Languages                  3600 non-null   object
 31  Number of Languages        3600 non-null   object
 32  Organizations              3600 non-null   object
 33  Number of Organizations    3600 non-null   object
 34  Interests                  3600 non-null   object
 35  Number of Interests        3600 non-null   object
 36  Activities                 3600 non-null   object
 37  Number of Activities       3600 non-null   object
 38  Label                      3600 non-null   int64
dtypes: int64(1), object(38)
memory usage: 1.1+ MB

In [ ]:
df.isnull().sum()

Intro                           0
Full Name                    1129
Workplace                    1129
Location                     1129
Connections                     0
Photo                           0
Followers                       0
About                           0
Experiences                     0
Number of Experiences           0
Educations                      0
Number of Educations            0
Licenses                        0
Number of Licenses              0
Volunteering                    0
Number of Volunteering          0
Skills                          0
Number of Skills                0
Recommendations                 0
Number of Recommendations       0
Projects                        0
Number of Projects              0
Publications                    0
Number of Publications          0
Courses                         0
Number of Courses               0
Honors                          0
Number of Honors                0
Scores                          0
Number of Scores                0
Languages                       0
Number of Languages             0
Organizations                   0
Number of Organizations         0
Interests                       0
Number of Interests             0
Activities                      0
Number of Activities            0
Label                           0
dtype: int64

In [ ]:
# convert all the uppercase words in the data to lower case

df = df.apply(lambda x: x.astype(str).str.lower())

In [ ]:
df.head()

,Intro,Full Name,Workplace,Location,Connections,Photo,Followers,About,Experiences,Number of Experiences,...,Number of Scores,Languages,Number of Languages,Organizations,Number of Organizations,Interests,Number of Interests,Activities,Number of Activities,Label
0,"{'full name': 'chenxia (polly) pei', 'workplac...",chenxia (polly) pei,jiangsu junyao mainly offer services to cement...,"wuxi, jiangsu, china",500,no,717,our gmh brick has the proprietary intellectual...,"{'0': {'role': 'sales', 'workplace': 'jiangsu ...",2,...,0,{},0,{},0,"{'0': {'interest': 'trina solar', 'id': '69648...",4,{'chenxia-pei-80177594': {'full name': 'chenxi...,1,1
1,"{'full name': 'neha chandok', 'workplace': 'so...",neha chandok,software analyst,"noida, uttar pradesh, india",500,no,1340,,"{'0': {'role': 'software analyst', 'workplace'...",1,...,0,"{'language 0': 'bangla', 'language 1': 'englis...",3,{},0,"{'0': {'interest': 'mohamed el-erian', 'id': '...",8,{},0,1
2,"{'full name': 'mounika mungamuri', 'workplace'...",mounika mungamuri,senior consultant at infosys,"hyderabad, telangana, india",7,yes,7,,"{'0': {'role': 'senior consultant', 'workplace...",2,...,0,{},0,{},0,{},0,{},0,1
3,"{'full name': 'katarina djuric', 'workplace': ...",katarina djuric,--,"belgrade, serbia",0,yes,0,,"{'0': {'role': 'instructor', 'workplace': 'ge'...",1,...,0,{},0,{},0,"{'0': {'interest': 'ge', 'id': '1015', 'catego...",1,{},0,1
4,"{'full name': 'rachel lally', 'workplace': '--...",rachel lally,--,"dublin, county dublin, ireland",61,yes,61,tictok is is the futer,"{'0': {'role': 'bartender', 'workplace': ""o'su...",1,...,1,{},0,{},0,"{'0': {'interest': 'richard branson', 'id': 'r...",3,"{'garyltravis': {'full name': 'gary travis', '...",6,1

In [ ]:
!pip install stopwords

Collecting stopwords
  Downloading stopwords-1.0.1-py2.py3-none-any.whl (37 kB)
Installing collected packages: stopwords
Successfully installed stopwords-1.0.1

In [ ]:
import stopwords

In [ ]:
def clean_text(text):
  # ...
  # remove stop words
  stop_words = set(stopwords.words('english'))
  # ...

In [ ]:
df.columns

Index(['Intro', 'Full Name', 'Workplace', 'Location', 'Connections', 'Photo',
       'Followers', 'About', 'Experiences', 'Number of Experiences',
       'Educations', 'Number of Educations', 'Licenses', 'Number of Licenses',
       'Volunteering', 'Number of Volunteering', 'Skills', 'Number of Skills',
       'Recommendations', 'Number of Recommendations', 'Projects',
       'Number of Projects', 'Publications', 'Number of Publications',
       'Courses', 'Number of Courses', 'Honors', 'Number of Honors', 'Scores',
       'Number of Scores', 'Languages', 'Number of Languages', 'Organizations',
       'Number of Organizations', 'Interests', 'Number of Interests',
       'Activities', 'Number of Activities', 'Label'],
      dtype='object')

In [ ]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 2.6 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

In [ ]:
!pip install nltk
import nltk
nltk.download('stopwords')

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.2)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import nltk
nltk.data.path.append("/root/nltk_data")  # adjust the path as needed
from nltk.corpus import stopwords

In [ ]:
import pandas as pd
import re
from nltk.corpus import stopwords
from unidecode import unidecode

def contains_url(text):
    return bool(re.search(r'https?://\S+', text))

def contains_punctuation(text):
    return bool(re.search(r'[^\w\s]', text))

def contains_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    return any(word.lower() in stop_words for word in words)

def contains_whitespace(text):
    return bool(re.search(r'\s', text))

def contains_accented_characters(text):
    return bool(re.search(r'[^\x00-\x7F]+', text))

# Assuming df is your DataFrame
columns_with_urls = [col for col in df.columns if df[col].apply(contains_url).any()]
columns_with_punctuation = [col for col in df.columns if df[col].apply(contains_punctuation).any()]
columns_with_stopwords = [col for col in df.columns if df[col].apply(contains_stopwords).any()]
columns_with_whitespace = [col for col in df.columns if df[col].apply(contains_whitespace).any()]
columns_with_accented_characters = [col for col in df.columns if df[col].apply(contains_accented_characters).any()]

print("Columns with URLs:", columns_with_urls)
print("Columns with Punctuation:", columns_with_punctuation)
print("Columns with Stopwords:", columns_with_stopwords)
print("Columns with White Spaces:", columns_with_whitespace)
print("Columns with Accented Characters:", columns_with_accented_characters)

Columns with URLs: ['About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Recommendations', 'Projects', 'Publications', 'Honors', 'Interests', 'Activities']
Columns with Punctuation: ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']
Columns with Stopwords: ['Intro', 'Full Name', 'Workplace', 'Location', 'Photo', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']
Columns with White Spaces: ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']
Columns with Accented Characters: ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']

In [ ]:
# remove URL's from the columns

import re

for col in ['About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Recommendations', 'Projects', 'Publications', 'Honors', 'Interests', 'Activities']:
  df[col] = df[col].apply(lambda x: re.sub(r'https?://\S+', '', x))

In [ ]:
#  remove Punctuation from the columns

for col in ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']:
  df[col] = df[col].apply(lambda x: re.sub(r'[^\w\s]', ' ', x))

In [ ]:
# replace Columns with Accented Characters with their standard characters

for col in ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']:
  df[col] = df[col].apply(lambda x: unidecode(x))

In [ ]:
import pandas as pd
import re
from nltk.corpus import stopwords
from unidecode import unidecode

def contains_url(text):
    return bool(re.search(r'https?://\S+', text))

def contains_punctuation(text):
    return bool(re.search(r'[^\w\s]', text))


def contains_accented_characters(text):
    return bool(re.search(r'[^\x00-\x7F]+', text))

# Assuming df is your DataFrame
columns_with_urls = [col for col in df.columns if df[col].apply(contains_url).any()]
columns_with_punctuation = [col for col in df.columns if df[col].apply(contains_punctuation).any()]
columns_with_accented_characters = [col for col in df.columns if df[col].apply(contains_accented_characters).any()]

print("Columns with URLs:", columns_with_urls)
print("Columns with Punctuation:", columns_with_punctuation)

print("Columns with Accented Characters:", columns_with_accented_characters)

Columns with URLs: []
Columns with Punctuation: ['Intro', 'Full Name', 'Workplace', 'About', 'Experiences', 'Educations', 'Recommendations', 'Interests', 'Activities']
Columns with Accented Characters: []

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# If you want to remove leading and trailing whitespaces only, use the following:
# df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Display the modified DataFrame
print(df.head())

                                               Intro            Full Name  \
0  full name    chenxia  polly  pei    workplace ...  chenxia  polly  pei
1  full name    neha chandok    workplace    soft...         neha chandok
2  full name    mounika mungamuri    workplace   ...    mounika mungamuri
3  full name    katarina djuric    workplace     ...      katarina djuric
4  full name    rachel lally    workplace        ...         rachel lally

                                           Workplace  \
0  jiangsu junyao mainly offer services to cement...
1                                   software analyst
2                       senior consultant at infosys
3
4

                         Location Connections Photo Followers  \
0            wuxi  jiangsu  china         500    no       717
1     noida  uttar pradesh  india         500    no      1340
2     hyderabad  telangana  india           7   yes         7
3                belgrade  serbia           0   yes         0
4  dublin  county dublin  ireland          61   yes        61

                                               About  \
0  our gmh brick has the proprietary intellectual...
1
2
3
4                             tictok is is the futer

                                         Experiences Number of Experiences  \
0  0     role    sales    workplace    jiangsu ju...                     2
1  0     role    software analyst    workplace   ...                     1
2  0     role    senior consultant    workplace  ...                     2
3  0     role    instructor    workplace    ge   ...                     1
4  0     role    bartender    workplace    o sull...                     1

   ... Number of Scores                                          Languages  \
0  ...                0
1  ...                0  language 0    bangla    language 1    english ...
2  ...                0
3  ...                0
4  ...                1

  Number of Languages Organizations Number of Organizations  \
0                   0                                     0
1                   3                                     0
2                   0                                     0
3                   0                                     0
4                   0                                     0

                                           Interests Number of Interests  \
0  0     interest    trina solar    id    696485 ...                   4
1  0     interest    mohamed el erian    id    mo...                   8
2                                                                      0
3  0     interest    ge    id    1015    category...                   1
4  0     interest    richard branson    id    rbr...                   3

                                          Activities Number of Activities  \
0  chenxia pei 80177594     full name    chenxia ...                    1
1                                                                       0
2                                                                       0
3                                                                       0
4  garyltravis     full name    gary travis    ca...                    6

  Label
0     1
1     1
2     1
3     1
4     1

[5 rows x 39 columns]

In [ ]:
df.head()

,Intro,Full Name,Workplace,Location,Connections,Photo,Followers,About,Experiences,Number of Experiences,...,Number of Scores,Languages,Number of Languages,Organizations,Number of Organizations,Interests,Number of Interests,Activities,Number of Activities,Label
0,full name chenxia polly pei workplace ...,chenxia polly pei,jiangsu junyao mainly offer services to cement...,wuxi jiangsu china,500,no,717,our gmh brick has the proprietary intellectual...,0 role sales workplace jiangsu ju...,2,...,0,,0,,0,0 interest trina solar id 696485 ...,4,chenxia pei 80177594 full name chenxia ...,1,1
1,full name neha chandok workplace soft...,neha chandok,software analyst,noida uttar pradesh india,500,no,1340,,0 role software analyst workplace ...,1,...,0,language 0 bangla language 1 english ...,3,,0,0 interest mohamed el erian id mo...,8,,0,1
2,full name mounika mungamuri workplace ...,mounika mungamuri,senior consultant at infosys,hyderabad telangana india,7,yes,7,,0 role senior consultant workplace ...,2,...,0,,0,,0,,0,,0,1
3,full name katarina djuric workplace ...,katarina djuric,,belgrade serbia,0,yes,0,,0 role instructor workplace ge ...,1,...,0,,0,,0,0 interest ge id 1015 category...,1,,0,1
4,full name rachel lally workplace ...,rachel lally,,dublin county dublin ireland,61,yes,61,tictok is is the futer,0 role bartender workplace o sull...,1,...,1,,0,,0,0 interest richard branson id rbr...,3,garyltravis full name gary travis ca...,6,1

In [ ]:
# To decrease the total vocabulary size and enhance the model’s capacity to generalize to new data, all texts are converted to lowercase. We then expand the contradictions to improve the consistency of the text among different sections. URLs, punctuation, stop words and white spaces are removed and accented characters are replaced with standard characters. give code

# Convert all text to lowercase
df = df.apply(lambda x: x.astype(str).str.lower())

# Expand contradictions
df = df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

# Remove URLs
df = df.applymap(lambda x: re.sub(r'https?://\S+', '', x) if isinstance(x, str) else x)

# Remove punctuation
df = df.applymap(lambda x: re.sub(r'[^\w\s]', ' ', x) if isinstance(x, str) else x)

# Remove stop words
stop_words = set(stopwords.words('english'))
df = df.applymap(lambda x: ' '.join([word for word in x.split() if word not in stop_words]) if isinstance(x, str) else x)

# Remove white spaces
df = df.applymap(lambda x: ' '.join(x.split()) if isinstance(x, str) else x)

# Replace accented characters with standard characters
df = df.applymap(lambda x: unidecode(x) if isinstance(x, str) else x)

# Display the modified DataFrame
print(df.head())

                                               Intro          Full Name  \
0  full name chenxia polly pei workplace jiangsu ...  chenxia polly pei
1  full name neha chandok workplace software anal...       neha chandok
2  full name mounika mungamuri workplace senior c...  mounika mungamuri
3  full name katarina djuric workplace location b...    katarina djuric
4  full name rachel lally workplace location dubl...       rachel lally

                                           Workplace  \
0  jiangsu junyao mainly offer services cement pe...
1                                   software analyst
2                          senior consultant infosys
3
4

                       Location Connections Photo Followers  \
0            wuxi jiangsu china         500             717
1     noida uttar pradesh india         500            1340
2     hyderabad telangana india           7   yes         7
3               belgrade serbia           0   yes         0
4  dublin county dublin ireland          61   yes        61

                                               About  \
0  gmh brick proprietary intellectual property ri...
1
2
3
4                                       tictok futer

                                         Experiences Number of Experiences  \
0  0 role sales workplace jiangsu junyao trading ...                     2
1  0 role software analyst workplace techstreet s...                     1
2  0 role senior consultant workplace infosys dur...                     2
3  0 role instructor workplace ge duration workpl...                     1
4  0 role bartender workplace sullivans bar durat...                     1

   ... Number of Scores                                          Languages  \
0  ...                0
1  ...                0  language 0 bangla language 1 english language ...
2  ...                0
3  ...                0
4  ...                1

  Number of Languages Organizations Number of Organizations  \
0                   0                                     0
1                   3                                     0
2                   0                                     0
3                   0                                     0
4                   0                                     0

                                           Interests Number of Interests  \
0  0 interest trina solar id 696485 category comp...                   4
1  0 interest mohamed el erian id mohamedelerian ...                   8
2                                                                      0
3         0 interest ge id 1015 category company url                   1
4  0 interest richard branson id rbranson categor...                   3

                                          Activities Number of Activities  \
0  chenxia pei 80177594 full name chenxia pei cat...                    1
1                                                                       0
2                                                                       0
3                                                                       0
4  garyltravis full name gary travis category url...                    6

  Label
0     1
1     1
2     1
3     1
4     1

[5 rows x 39 columns]

In [ ]:
df.columns

Index(['Intro', 'Full Name', 'Workplace', 'Location', 'Connections', 'Photo',
       'Followers', 'About', 'Experiences', 'Number of Experiences',
       'Educations', 'Number of Educations', 'Licenses', 'Number of Licenses',
       'Volunteering', 'Number of Volunteering', 'Skills', 'Number of Skills',
       'Recommendations', 'Number of Recommendations', 'Projects',
       'Number of Projects', 'Publications', 'Number of Publications',
       'Courses', 'Number of Courses', 'Honors', 'Number of Honors', 'Scores',
       'Number of Scores', 'Languages', 'Number of Languages', 'Organizations',
       'Number of Organizations', 'Interests', 'Number of Interests',
       'Activities', 'Number of Activities', 'Label'],
      dtype='object')

In [ ]:

print(df.shape[0])

3600

In [ ]:
df.isnull().sum()

Intro                        0
Full Name                    0
Workplace                    0
Location                     0
Connections                  0
Photo                        0
Followers                    0
About                        0
Experiences                  0
Number of Experiences        0
Educations                   0
Number of Educations         0
Licenses                     0
Number of Licenses           0
Volunteering                 0
Number of Volunteering       0
Skills                       0
Number of Skills             0
Recommendations              0
Number of Recommendations    0
Projects                     0
Number of Projects           0
Publications                 0
Number of Publications       0
Courses                      0
Number of Courses            0
Honors                       0
Number of Honors             0
Scores                       0
Number of Scores             0
Languages                    0
Number of Languages          0
Organizations                0
Number of Organizations      0
Interests                    0
Number of Interests          0
Activities                   0
Number of Activities         0
Label                        0
dtype: int64

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.2)

In [ ]:
# All numbers are written in words. The texts are then split into a list of tokens and each token is reduced to its lemma using WordNetLemmatizer provided by Natural Language Toolkit (NLTK).apply this to all the text columns

import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

nltk.download('wordnet')
nltk.download('punkt')

lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
  words = nltk.word_tokenize(text)
  lemmatized_words = [lemmatizer.lemmatize(word, pos='v') for word in words]
  return ' '.join(lemmatized_words)

text_columns = ['Intro', 'Full Name', 'Workplace', 'Location', 'About', 'Experiences', 'Educations', 'Licenses', 'Volunteering', 'Skills', 'Recommendations', 'Projects', 'Publications', 'Courses', 'Honors', 'Scores', 'Languages', 'Organizations', 'Interests', 'Activities']

for column in text_columns:
  df[column] = df[column].apply(lemmatize_text)

df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

,Intro,Full Name,Workplace,Location,Connections,Photo,Followers,About,Experiences,Number of Experiences,...,Number of Scores,Languages,Number of Languages,Organizations,Number of Organizations,Interests,Number of Interests,Activities,Number of Activities,Label
0,full name chenxia polly pei workplace jiangsu ...,chenxia polly pei,jiangsu junyao mainly offer service cement pet...,wuxi jiangsu china,500,,717,gmh brick proprietary intellectual property ri...,0 role sales workplace jiangsu junyao trade co...,2,...,0,,0,,0,0 interest trina solar id 696485 category comp...,4,chenxia pei 80177594 full name chenxia pei cat...,1,1
1,full name neha chandok workplace software anal...,neha chandok,software analyst,noida uttar pradesh india,500,,1340,,0 role software analyst workplace techstreet s...,1,...,0,language 0 bangla language 1 english language ...,3,,0,0 interest mohamed el erian id mohamedelerian ...,8,,0,1
2,full name mounika mungamuri workplace senior c...,mounika mungamuri,senior consultant infosys,hyderabad telangana india,7,yes,7,,0 role senior consultant workplace infosys dur...,2,...,0,,0,,0,,0,,0,1
3,full name katarina djuric workplace location b...,katarina djuric,,belgrade serbia,0,yes,0,,0 role instructor workplace ge duration workpl...,1,...,0,,0,,0,0 interest ge id 1015 category company url,1,,0,1
4,full name rachel lally workplace location dubl...,rachel lally,,dublin county dublin ireland,61,yes,61,tictok futer,0 role bartender workplace sullivans bar durat...,1,...,1,,0,,0,0 interest richard branson id rbranson categor...,3,garyltravis full name gary travis category url...,6,1

In [ ]:
# provide this information 'Section tag Subsection tags Section tag Subsection tags
# Introduction workplace, Location Projects Title, Date, Description
# Overview (About) Description Publications Title, Journal, Description
# Experiences Workplace, Role, Duration, Location, Description Courses Courses
# Educations Institute, Degree, Duration, Description Skills Skills
# Licenses Title, Company, Description '

section_tags = ['Intro', 'Overview', 'Experiences', 'Educations', 'Licenses', 'Projects', 'Publications', 'Courses', 'Skills']
subsection_tags = ['Workplace, Location', 'Description', 'Workplace, Role, Duration, Location, Description', 'Institute, Degree, Duration, Description', 'Title, Company, Description', 'Title, Date, Description', 'Title, Journal, Description', 'Courses', 'Skills']

information = dict(zip(section_tags, subsection_tags))

print(information)

{'Intro': 'Workplace, Location', 'Overview': 'Description', 'Experiences': 'Workplace, Role, Duration, Location, Description', 'Educations': 'Institute, Degree, Duration, Description', 'Licenses': 'Title, Company, Description', 'Projects': 'Title, Date, Description', 'Publications': 'Title, Journal, Description', 'Courses': 'Courses', 'Skills': 'Skills'}

In [ ]:
# Concatenate the text from different sections of the LinkedIn profile into a single document

def concatenate_sections(df):
  """
  Concatenates the text from different sections of the LinkedIn profile into a single document.

  Args:
      df: A Pandas DataFrame containing the LinkedIn profile data.

  Returns:
      A Pandas DataFrame with a new column containing the concatenated text.
  """

  # Define the relevant sections
  sections = ['Intro', 'About', 'Experiences', 'Educations', 'Licenses', 'Projects', 'Publications', 'Courses', 'Skills']

  # Create a new empty column for the concatenated text
  df['Concatenated_Text'] = ''

  # Loop through each row in the DataFrame
  for index, row in df.iterrows():
    # Initialize an empty string to store the concatenated text
    concatenated_text = ''

    # Loop through each section and concatenate its text
    for section in sections:
      concatenated_text += ' ' + str(row[section])

    # Store the concatenated text in the new column
    df.loc[index, 'Concatenated_Text'] = concatenated_text

  return df

# Concatenate the sections
df = concatenate_sections(df)

# Display the first five rows of the DataFrame
print(df.head())

                                               Intro          Full Name  \
0  full name chenxia polly pei workplace jiangsu ...  chenxia polly pei
1  full name neha chandok workplace software anal...       neha chandok
2  full name mounika mungamuri workplace senior c...  mounika mungamuri
3  full name katarina djuric workplace location b...    katarina djuric
4  full name rachel lally workplace location dubl...       rachel lally

                                           Workplace  \
0  jiangsu junyao mainly offer service cement pet...
1                                   software analyst
2                          senior consultant infosys
3
4

                       Location Connections Photo Followers  \
0            wuxi jiangsu china         500             717
1     noida uttar pradesh india         500            1340
2     hyderabad telangana india           7   yes         7
3               belgrade serbia           0   yes         0
4  dublin county dublin ireland          61   yes        61

                                               About  \
0  gmh brick proprietary intellectual property ri...
1
2
3
4                                       tictok futer

                                         Experiences Number of Experiences  \
0  0 role sales workplace jiangsu junyao trade co...                     2
1  0 role software analyst workplace techstreet s...                     1
2  0 role senior consultant workplace infosys dur...                     2
3  0 role instructor workplace ge duration workpl...                     1
4  0 role bartender workplace sullivans bar durat...                     1

   ...                                          Languages Number of Languages  \
0  ...                                                                      0
1  ...  language 0 bangla language 1 english language ...                   3
2  ...                                                                      0
3  ...                                                                      0
4  ...                                                                      0

  Organizations Number of Organizations  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

                                           Interests Number of Interests  \
0  0 interest trina solar id 696485 category comp...                   4
1  0 interest mohamed el erian id mohamedelerian ...                   8
2                                                                      0
3         0 interest ge id 1015 category company url                   1
4  0 interest richard branson id rbranson categor...                   3

                                          Activities Number of Activities  \
0  chenxia pei 80177594 full name chenxia pei cat...                    1
1                                                                       0
2                                                                       0
3                                                                       0
4  garyltravis full name gary travis category url...                    6

  Label                                  Concatenated_Text
0     1   full name chenxia polly pei workplace jiangsu...
1     1   full name neha chandok workplace software ana...
2     1   full name mounika mungamuri workplace senior ...
3     1   full name katarina djuric workplace location ...
4     1   full name rachel lally workplace location dub...

[5 rows x 40 columns]

In [ ]:
# Preprocess the document to clean and tokenize the text.

import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

def preprocess_text(text):
  """
  Preprocesses a string by cleaning and tokenizing it.

  Args:
      text: The string to be preprocessed.

  Returns:
      A list of tokens.
  """

  # Remove special characters and punctuation
  text = re.sub(r"[^a-zA-Z0-9]", " ", text)

  # Convert text to lowercase
  text = text.lower()

  # Remove stop words
  stop_words = set(stopwords.words("english"))
  words = word_tokenize(text)
  words = [word for word in words if word not in stop_words]

  # Return the list of tokens
  return words

# Preprocess the concatenated text
df["Concatenated_Text"] = df["Concatenated_Text"].apply(preprocess_text)

# Display the first five rows of the DataFrame
print(df.head())

                                               Intro          Full Name  \
0  full name chenxia polly pei workplace jiangsu ...  chenxia polly pei
1  full name neha chandok workplace software anal...       neha chandok
2  full name mounika mungamuri workplace senior c...  mounika mungamuri
3  full name katarina djuric workplace location b...    katarina djuric
4  full name rachel lally workplace location dubl...       rachel lally

                                           Workplace  \
0  jiangsu junyao mainly offer service cement pet...
1                                   software analyst
2                          senior consultant infosys
3
4

                       Location Connections Photo Followers  \
0            wuxi jiangsu china         500             717
1     noida uttar pradesh india         500            1340
2     hyderabad telangana india           7   yes         7
3               belgrade serbia           0   yes         0
4  dublin county dublin ireland          61   yes        61

                                               About  \
0  gmh brick proprietary intellectual property ri...
1
2
3
4                                       tictok futer

                                         Experiences Number of Experiences  \
0  0 role sales workplace jiangsu junyao trade co...                     2
1  0 role software analyst workplace techstreet s...                     1
2  0 role senior consultant workplace infosys dur...                     2
3  0 role instructor workplace ge duration workpl...                     1
4  0 role bartender workplace sullivans bar durat...                     1

   ...                                          Languages Number of Languages  \
0  ...                                                                      0
1  ...  language 0 bangla language 1 english language ...                   3
2  ...                                                                      0
3  ...                                                                      0
4  ...                                                                      0

  Organizations Number of Organizations  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

                                           Interests Number of Interests  \
0  0 interest trina solar id 696485 category comp...                   4
1  0 interest mohamed el erian id mohamedelerian ...                   8
2                                                                      0
3         0 interest ge id 1015 category company url                   1
4  0 interest richard branson id rbranson categor...                   3

                                          Activities Number of Activities  \
0  chenxia pei 80177594 full name chenxia pei cat...                    1
1                                                                       0
2                                                                       0
3                                                                       0
4  garyltravis full name gary travis category url...                    6

  Label                                  Concatenated_Text
0     1  [full, name, chenxia, polly, pei, workplace, j...
1     1  [full, name, neha, chandok, workplace, softwar...
2     1  [full, name, mounika, mungamuri, workplace, se...
3     1  [full, name, katarina, djuric, workplace, loca...
4     1  [full, name, rachel, lally, workplace, locatio...

[5 rows x 40 columns]

In [ ]:
# generate vector representation of above tokenized text by passing it thorugh word embedding function

from gensim.models import Word2Vec

# Create a Word2Vec model
model = Word2Vec(df["Concatenated_Text"], vector_size=100, window=5, min_count=1)

# Get the vector representation of a token
def get_vector(token):
  try:
    return model.wv[token]
  except KeyError:
    return np.zeros(model.vector_size)

# Get the vector representation of each token in the concatenated text
df["Vector_Representation"] = df["Concatenated_Text"].apply(lambda tokens: [get_vector(token) for token in tokens])

# Display the first five rows of the DataFrame
print(df.head())

                                               Intro          Full Name  \
0  full name chenxia polly pei workplace jiangsu ...  chenxia polly pei
1  full name neha chandok workplace software anal...       neha chandok
2  full name mounika mungamuri workplace senior c...  mounika mungamuri
3  full name katarina djuric workplace location b...    katarina djuric
4  full name rachel lally workplace location dubl...       rachel lally

                                           Workplace  \
0  jiangsu junyao mainly offer service cement pet...
1                                   software analyst
2                          senior consultant infosys
3
4

                       Location Connections Photo Followers  \
0            wuxi jiangsu china         500             717
1     noida uttar pradesh india         500            1340
2     hyderabad telangana india           7   yes         7
3               belgrade serbia           0   yes         0
4  dublin county dublin ireland          61   yes        61

                                               About  \
0  gmh brick proprietary intellectual property ri...
1
2
3
4                                       tictok futer

                                         Experiences Number of Experiences  \
0  0 role sales workplace jiangsu junyao trade co...                     2
1  0 role software analyst workplace techstreet s...                     1
2  0 role senior consultant workplace infosys dur...                     2
3  0 role instructor workplace ge duration workpl...                     1
4  0 role bartender workplace sullivans bar durat...                     1

   ...                                          Interests Number of Interests  \
0  ...  0 interest trina solar id 696485 category comp...                   4
1  ...  0 interest mohamed el erian id mohamedelerian ...                   8
2  ...                                                                      0
3  ...         0 interest ge id 1015 category company url                   1
4  ...  0 interest richard branson id rbranson categor...                   3

                                          Activities Number of Activities  \
0  chenxia pei 80177594 full name chenxia pei cat...                    1
1                                                                       0
2                                                                       0
3                                                                       0
4  garyltravis full name gary travis category url...                    6

  Label                                  Concatenated_Text  \
0     1  [full, name, chenxia, polly, pei, workplace, j...
1     1  [full, name, neha, chandok, workplace, softwar...
2     1  [full, name, mounika, mungamuri, workplace, se...
3     1  [full, name, katarina, djuric, workplace, loca...
4     1  [full, name, rachel, lally, workplace, locatio...

                                     Intro_Tokenized  \
0  (full, name, chenxia, polly, pei, workplace, j...
1  (full, name, neha, chandok, workplace, softwar...
2  (full, name, mounika, mungamuri, workplace, se...
3  (full, name, katarina, djuric, workplace, loca...
4  (full, name, rachel, lally, workplace, locatio...

                                        Intro_Tokens  \
0  [full, name, chenxia, polly, pei, workplace, j...
1  [full, name, neha, chandok, workplace, softwar...
2  [full, name, mounika, mungamuri, workplace, se...
3  [full, name, katarina, djuric, workplace, loca...
4  [full, name, rachel, lally, workplace, locatio...

                                          Intro_Tags  \
0  [ADJ, NOUN, NOUN, ADV, PROPN, PROPN, PROPN, PR...
1  [ADJ, NOUN, NOUN, NOUN, NOUN, NOUN, NOUN, NOUN...
2  [ADJ, NOUN, NOUN, PROPN, PROPN, ADJ, NOUN, NOU...
3  [ADJ, NOUN, PROPN, ADJ, NOUN, NOUN, PROPN, PRO...
4  [ADJ, NOUN, PROPN, ADV, PROPN, PROPN, PROPN, P...

                               Vector_Representation
0  [[0.21610686, -0.39346966, -1.9194132, -0.7189...
1  [[0.21610686, -0.39346966, -1.9194132, -0.7189...
2  [[0.21610686, -0.39346966, -1.9194132, -0.7189...
3  [[0.21610686, -0.39346966, -1.9194132, -0.7189...
4  [[0.21610686, -0.39346966, -1.9194132, -0.7189...

[5 rows x 44 columns]

In [ ]:
df["Section_Tag"], df["Subsection_Tag"] = zip(*[x[0:2] for x in df["Concatenated_Text"].apply(lambda tokens: [get_section_and_subsection(token, information) for token in tokens])])

In [ ]:
# The tags of section and subsection from which a particular token originated are recorded. the section and its subsection are given above in the information

section_tags = ['Intro', 'About', 'Experiences', 'Educations', 'Licenses', 'Projects', 'Publications', 'Courses', 'Skills']
subsection_tags = ['Workplace, Location', 'Description', 'Workplace, Role, Duration, Location, Description', 'Institute, Degree, Duration, Description', 'Title, Company, Description', 'Title, Date, Description', 'Title, Journal, Description', 'Courses', 'Skills']

information = dict(zip(section_tags, subsection_tags))

def get_section_and_subsection(token, df):
  for section, subsections in information.items():
    for subsection in subsections.split(','):
      if token in df[section].str.lower():
        return section, subsection
  return None, None

df['Section'] = df['Concatenated_Text'].apply(lambda tokens: [get_section_and_subsection(token, df)[0] for token in tokens])
df['Subsection'] = df['Concatenated_Text'].apply(lambda tokens: [get_section_and_subsection(token, df)[1] for token in tokens])

print(df.head())

In [ ]:

#  BERT Embedding Generation
from transformers import BertTokenizer, BertModel
import torch

# Load pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Function to generate BERT embeddings
def get_bert_embeddings(text):
    inputs = tokenizer(text, return_tensors="pt", padding=True, truncation=True)
    outputs = model(**inputs)
    embeddings = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    return embeddings

/usr/local/lib/python3.10/dist-packages/huggingface_hub/utils/_token.py:88: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

In [ ]:
# Token embedding
token_embeddings = [get_bert_embeddings(token) for token in Concatenated_Text]
# print the above token embeddinngs

print(token_embeddings)

[ 0.9154533  -1.6245022  -0.49074984  0.04888433 -0.11013343  2.0902767
 -1.0107934  -6.7983003  -2.5063684  -1.6594839  -0.95772046  2.338238
  0.30074248  2.7934656   0.42892298 -0.11217713  1.409414   -1.7467813
  1.7586595  -0.6852744  -0.40086904  0.7418575   2.6770568  -0.302616
 -1.3984759   0.42876014 -0.22638486 -0.4611581  -0.18467894 -3.920381
  1.5050412  -0.2936629  -1.3901596   0.9298674   1.8489769   2.3500173
  0.06776428 -1.3374333  -1.3294257   2.8016818   0.4014328   2.8256347
  0.87681127 -1.2630706   1.0388695  -1.9446565  -3.511172   -0.27654132
 -0.24404569  0.44785234 -1.42996    -4.0765395  -2.2276325  -1.445847
 -1.4870144   1.9032816  -0.23634703 -0.580332   -1.9214257  -0.56882286
  1.2054025  -2.1142974  -0.79743105  0.6280886   0.5887358   0.5640808
  0.70247245 -1.7447159  -3.6650085   2.4513707   1.4541386  -1.6199969
  2.2918196   0.01387992  1.1489483   0.5155141   1.6747082  -0.79017675
 -1.636507   -1.0302184  -2.3518374  -0.54222864 -5.2126465  -0.35380065
  2.075197   -3.318531    1.3929266   2.0877254   2.1494465   0.4845888
  1.8893057  -0.09056117 -0.64833456 -0.5874878  -2.540873   -2.2051024
 -0.19395281 -2.2072244  -1.753556   -0.8115357 ]

In [ ]:
# Compute the embedding representations of section and subsection tags.section_tags = ['Intro', 'Overview', 'Experiences', 'Educations', 'Licenses', 'Projects', 'Publications', 'Courses', 'Skills']
# subsection_tags = ['Workplace, Location', 'Description', 'Workplace, Role, Duration, Location, Description',
#                    'Institute, Degree, Duration, Description', 'Title, Company, Description',]

section_tags = ['Intro', 'Overview', 'Experiences', 'Educations', 'Licenses', 'Projects', 'Publications', 'Courses', 'Skills']
subsection_tags = ['Workplace, Location', 'Description', 'Workplace, Role, Duration, Location, Description',
                   'Institute, Degree, Duration, Description', 'Title, Company, Description',
                   'Title, Date, Description', 'Title, Journal, Description', 'Courses', 'Skills']

section_embeddings = []
subsection_embeddings = []

for section in section_tags:
  section_embeddings.append(word_embedding(section))

for subsection in subsection_tags:
  subsection_embeddings.append(word_embedding(subsection))

print("Section Embeddings:", section_embeddings)
print("Subsection Embeddings:", subsection_embeddings)

Section Embeddings: [0.3667782764194638, 0.7164925292577684, 0.3643721552698035, 0.512130725430573, 0.5291814128955047, 0.7657132760354461, 0.3023237049024684, 0.6880872164557407, 0.3629453881701826]
Subsection Embeddings: [0.01966206431436135, 0.03356377899168417, 0.5128036204781901, 0.9958177742978767, 0.3271475286670098, 0.7202674593528644, 0.5457499675445032, 0.7873609335568642, 0.3834959861045082]

In [ ]:
# These tags are passed through the tag embedding module.This module computes the embedding representations of both tags and outputs the mean of the embedded tags.

# Import necessary libraries
import torch
import torch.nn as nn

# Define the TagEmbedding module
class TagEmbedding(nn.Module):
    def __init__(self, num_embeddings, embedding_dim):
        super(TagEmbedding, self).__init__()
        self.embedding = nn.Embedding(num_embeddings, embedding_dim)

    def forward(self, tags):
        # Convert tags to a list of tensors
        tag_tensors = [torch.tensor([tag[key]], dtype=torch.long) for key in ['section', 'subsection'] for tag in tags]

        # Concatenate the tag tensors
        concatenated_tags = torch.cat(tag_tensors, dim=0)

        # Get embeddings for each tag
        embeddings = self.embedding(concatenated_tags)

        # Compute the mean of the embedded tags
        mean_embedding = torch.mean(embeddings, dim=0)

        return mean_embedding

# Create an instance of the TagEmbedding module
tag_embedding_module = TagEmbedding(num_embeddings=len(section_subsection_tags), embedding_dim=100)

# Get the section and subsection tags for each token
token_tags = [section_subsection_tags[token] for token in df['tokenized_concatenated_text'].iloc[0]]

# Get the mean embedding of the tags
mean_tag_embedding = tag_embedding_module(token_tags)

# Print the mean tag embedding
print(mean_tag_embedding)

tensor([ 2.8371e-01,  4.8958e-01,  2.5610e-01,  1.2108e-01, -4.0002e-02,
        -3.4469e-04,  3.7744e-01,  7.1155e-02,  2.5679e-02, -1.9437e-01,
        -3.4815e-01,  1.0935e-01, -1.3396e-01,  1.4214e-01, -4.3689e-01,
        -1.6476e-01,  1.6543e-01, -2.8220e-01, -2.0168e-01, -1.5356e-01,
         2.8800e-01,  1.8163e-01,  5.0663e-01,  2.4494e-01, -7.7039e-02,
        -8.1519e-02, -8.7452e-02, -2.7662e-01, -3.5097e-01,  2.3801e-01,
         2.2198e-02, -2.9023e-01,  7.0847e-02,  1.8032e-01, -4.2014e-01,
         1.3544e-01,  3.4382e-01,  4.5348e-01, -1.2655e-01, -2.9201e-01,
        -1.4343e-01, -7.1483e-03, -1.8187e-01,  2.7097e-01, -3.2559e-01,
         2.6851e-02, -3.3182e-01,  6.3503e-01,  2.3779e-01, -4.8725e-01,
        -3.3391e-01, -2.8176e-01,  4.0646e-02,  2.9988e-01, -1.8154e-01,
        -3.3748e-02,  6.6552e-01, -3.4509e-01,  5.3164e-01, -2.6417e-01,
         1.8945e-01, -2.4431e-01,  1.9049e-01, -3.1237e-01, -1.7098e-01,
         4.2472e-01,  3.0153e-01,  5.6781e-02, -2.6210e-01, -8.9343e-02,
         6.5891e-02, -8.5504e-02,  1.2123e-01, -1.3410e-01, -1.5816e-01,
         5.3931e-02,  2.4924e-01, -8.0395e-02, -7.7063e-02, -2.5599e-01,
         2.3947e-02,  2.8664e-01,  1.1529e-01, -1.1993e-01,  3.9842e-02,
        -2.5139e-01,  1.6759e-01, -1.1408e-01, -4.3900e-01, -1.4570e-03,
        -2.0299e-01,  3.0404e-02, -9.9860e-02,  2.6795e-02, -4.2006e-01,
        -1.0209e-01,  1.3292e-01, -7.3500e-02, -2.2062e-01, -1.5516e-01],
       grad_fn=<MeanBackward1>)

In [ ]:
#  Subtract the embedded tag representation from the mean of the embedded token representations in each section.

def subtract_embeddings(token_embeddings, tag_embeddings):
  """
  Subtracts the embedded tag representation from the mean of the embedded token representations in each section.

  Args:
      token_embeddings: A list of token embeddings.
      tag_embeddings: A list of tag embeddings.

  Returns:
      A list of adjusted token embeddings.
  """

  adjusted_token_embeddings = []
  for i, token_embedding in enumerate(token_embeddings):
    tag_embedding = tag_embeddings[i // len(token_embeddings)]
    adjusted_token_embeddings.append(token_embedding - tag_embedding)

  return adjusted_token_embeddings

# Subtract the tag embeddings from the token embeddings
adjusted_token_embeddings = subtract_embeddings(token_embeddings, section_embeddings)

print(adjusted_token_embeddings)

[0.3763756190929263, 0.20725269706432425, 0.32548254436558577, -0.3308252054732206, 0.3170449855963917, 0.42752025527827975, 0.5955509002678813, 0.21112322914183235]

In [ ]:
#  Compute the final embedding representation for each subsection.

import numpy as np
# Compute the final embedding representation for each subsection

subsection_embeddings = []

for i in range(len(subsection_tags)):
  start_index = i * len(token_embeddings) // len(subsection_tags)
  end_index = (i + 1) * len(token_embeddings) // len(subsection_tags)
  subsection_embedding = np.mean(adjusted_token_embeddings[start_index:end_index], axis=0)
  subsection_embeddings.append(subsection_embedding)

print("Subsection Embeddings:", subsection_embeddings)

Subsection Embeddings: [nan, 0.3763756190929263, 0.20725269706432425, 0.32548254436558577, -0.3308252054732206, 0.3170449855963917, 0.42752025527827975, 0.5955509002678813, 0.21112322914183235]

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [ ]:
# Calculate the document embedding representation as the mean of the final embedding representations.

import numpy as np
# Compute the document embedding as the mean of the subsection embeddings
document_embedding = np.mean(subsection_embeddings, axis=0)

In [ ]:
# The above final document  is then passed into a binary classifier by splitting training and test data . training data consists for 500 from label 0, 400 from label 1 differentiating Labels 0,10 from 1,11. train the model and evaluate it

# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Extract features and labels
X = df['word_embeddings'].tolist()
y = df['Label'].tolist()

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

# Print the accuracy
print("Accuracy:", accuracy)

Accuracy: 0.49166666666666664

In [ ]:
# Step 3: Model Training
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(df['document_embedding'], df['Label'], test_size=0.2, random_state=42)

# Train logistic regression model
clf = LogisticRegression()
clf.fit(list(X_train), y_train)

# Step 4: Evaluation
y_pred = clf.predict(list(X_test))
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9388888888888889

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(